<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="INetBanking_V1">
	<!-- <listeners> <listener class-name="com.inetbanking.utilities.Reporting"></listener> 
		</listeners> -->
	<test name="Test">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<!-- <class name="com.inetbanking.testCases.TC_LoginTest_001" /> --> 
			 <class name="com.inetbanking.testCases.TC_LoginTest_002" /> 
			<!-- <class name="com.inetbanking.testCases.TC_3" /> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
